.carousel {
    &-swiper {
        height: 100%;

        .swiper-button {
            &-prev, &-next {
                color: #ffffff;
            }
        }
    }

    &-slide {
        &-image {
            object-fit: cover;
            width: 100%;
            height: 100%;

            &.mobile {
                @media (orientation: landscape) {
                    display: none;
                }
            }
            &.desktop {
                @media (orientation: portrait) {
                    display: none;
                }
            }
        }
    }
}