.cta {
    &-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        @include padding-y(30px);
        height: auto;

        @include breakpoint(medium) {
            @media (min-height: 568px) {
                @include padding-y(100px);
            }
        }
    }
    &-heading {
        font-size: 1.875rem;
        line-height: 0.9em;
        
        @include breakpoint(medium) {
            @media (min-height: 568px) {
                font-size: 3rem;
            }
        }
        @include breakpoint(large) {
            font-size: 3.75rem;
        }
    }

    &-text {
        line-height: 0.9em;
        font-size: 1.5rem;
        margin: 30px 0;

        @include breakpoint(medium) {
            @media (min-height: 568px) {
                font-size: 2.5rem;
                @include margin-y(40px);
            }
        }
    }
}