.hero {
    &-section {
        position: relative;
        background-size: cover;
        height: 100vh;
    }
    &-logo {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        height: 175px;

        @include breakpoint(medium) {
            @media (min-height: 568px) {
                left: 40px;
                height: 390px;
            }
        }
    }
}