.movie-section {
    @media (min-height: 568px) and (max-width: 568px) {
        padding: 0px;
    }
    @media (orientation: portrait) {
        height: auto;
    }

    &-wrapper {
        position: relative;
        height: 100%;
    }

    &-play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        z-index: 10;
        height: 140px;

        @include breakpoint(medium) {
            @media (min-height: 568px) {
                height: auto;
            }
        }
    }

    &-video {
        object-fit: cover;
        width: 100%;
        height: 100%;
        
        &.active {
            object-fit: contain;            
        }
    }

}
