.split-cta {
    &-section {
       @media (max-width: 567px) {
           height: auto;
       }
    }

    &-inner {
        display: flex;
        flex-direction: column;
        height: 100%;

        @include breakpoint(medium) {
            flex-direction: row-reverse;

            &.image-right {
                flex-direction: row;
            }
        }
    }

    &-top {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        @include padding-y(30px);
       
        @include breakpoint(medium) {
            width: 50%;
            padding: 0;
        }

        &-text {
            font-size: 1.7rem;
            line-height: 1.1em;

            @include breakpoint(large) {
                font-size: 2.5rem;
            }
            @include breakpoint(xlarge) {
                font-size: 3rem;
            }
        }

        &-quote {
            margin-top: 30px;

            @include breakpoint(medium) {
                @media (min-height: 568px) {
                    margin-top: 40px;
                }
            }

            &-title {
                font-size: 1.25rem;
                line-height: 0.8em;

                @include breakpoint(large) {
                    font-size: 2rem;
                }
            }
            &-subtitle {
                font-size: 1rem;

                @include breakpoint(large) {
                    font-size: 1.2rem;
                }
            }
        }

        &-btn {
            margin-top: 30px;

            @include breakpoint(medium) {
                @media (min-height: 568px) {
                    margin-top: 40px;
                }
            }
        }

    }

    &-bottom {
        height: 50vh;

        @include breakpoint(medium) {
            width: 50%;
            height: 100%;
        }

        &-image {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }        
    }
}