.split-carousel {
    &-swiper {
        height: 100%;

        .swiper-button {
            &-prev, &-next {
                color: $black;
            }

            &-next {
                @include breakpoint(medium) {
                    color: #fff;
                }
            }
        }
    }

    &-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #E42C1A;
        text-align: center;
    }

    &-text {
        font-size: 1.875rem;
        line-height: 0.96em;

        @include breakpoint(large) {
            font-size: 3rem;
        }
        @include breakpoint(xlarge) {
            font-size: 4rem;
        }
    }
    &-quote {
        font-size: 1.25rem;
        line-height: 0.8em;
        margin-top: 30px;

        @include breakpoint(large) {
            font-size: 1.6875rem;
        }
        @include breakpoint(xlarge) {
            font-size: 2.25rem;
        }

        &-subtitle {
            font-size: 0.75rem;
            line-height: 1.54em;
            font-weight: 300;

            @include breakpoint(large) {
                font-size: 0.875rem;
            }
        }
    }

    &-image {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}