@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('DINNextLTPro-Light.eot');
    src: url('DINNextLTPro-Light.eot?#iefix') format('embedded-opentype'),
        url('DINNextLTPro-Light.woff2') format('woff2'),
        url('DINNextLTPro-Light.woff') format('woff'),
        url('DINNextLTPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('DINNextLTPro-MediumCond.eot');
    src: url('DINNextLTPro-MediumCond.eot?#iefix') format('embedded-opentype'),
        url('DINNextLTPro-MediumCond.woff2') format('woff2'),
        url('DINNextLTPro-MediumCond.woff') format('woff'),
        url('DINNextLTPro-MediumCond.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}