.register {
    color: #fff;
    background-color: $black;
    font-weight: 300;
    text-transform: none;
    padding: 55px 60px;

    @include breakpoint(large) {
        display: flex;
        align-items: center;
        height: 100vh;
    }

    &-inner {
        width: 100%;

        @include breakpoint(large) {
            display: flex;
        }
    }
   
    &-left {
        @include breakpoint(large) {
            margin-left: auto;
            height: 100%;
        }

        &-heading {
            font-size: 1.25rem;
            font-weight: 500;
            line-height: 1em;
            margin-bottom: 15px;
            text-transform: uppercase;

            @include breakpoint(medium) {
                @media (min-height: 568px) {
                    font-size: 3rem;
                }
            }
            @include breakpoint(large) {
                max-width: 300px;
            }
        }
        &-text {
            font-size: 0.875rem;

            @include breakpoint(medium) {
                @media (min-height: 568px) {
                    font-size: 1rem;
                }
            }
        }
    }
    &-right {
        @include breakpoint(large) {
            margin-left: 150px;
            width: 50%;
        }

        .wpcf7 {
            @include breakpoint(large) {
                max-width: 400px;
            }

            &-form {
                .form-row {
                    display: flex;
        
                    &:not(:first-child) {
                        margin-top: 15px;
                    }
                }

                &-control {
                    &:not([type=submit]):not(.wpcf7-acceptance) {
                        border: none; 
                        background-color: #fff;
                        color: $black;
                        font-size: 1rem;
                        @include padding-x(10px);
                        width: 100%;
                        height: 40px;

                        &::placeholder {
                            color: inherit;
                            text-transform: none;
                        }
                    }

                    &-wrap {
                        flex: 1;
                    }
                }
            }

            &-list-item {
                margin: 0;
                font-size: 0.6875rem;

                label {
                    display: flex;
                    align-items: center;

                    @include breakpoint(medium) {
                        @media (min-height: 568px) {
                            font-size: 0.875rem;
                        }
                    }

                    a {
                        text-decoration: underline;
                    }
                }

                &-label {
                    margin-left: 10px;
                }
            }

            &-submit {
                margin-top: 15px;
            }

            .ajax-loader {
                display: none;
            }

            &-submit {
                border: 2px solid white;
                font-size: 0.875rem;
                width: 150px;
                height: 45px;
            }
        }
    }
}

.footer-logos {
    &-heading {
        font-size: 1rem;
        margin-top: 50px;
        margin-bottom: 15px;
    }
}