body {
    color: $black;
    font-family: "DIN Next LT Pro", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    background-color: $black;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    width: 150px;
    height: 35px;

    @include breakpoint(medium) {
        @media (min-height: 568px) {
            font-size: 1.5rem;
            width: 230px;
            height: 50px;
        }
    }
}