.homepage {
    height: 100vh;

    @media (orientation: landscape) {
        display: flex;
    }

    &-left {
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        @include padding-y(30px);
        height: 50%;

        @media (orientation: landscape) {
            width: 50%;
            height: 100%;
        }
        @include breakpoint(large) {
            @include padding-y(150px);
        }
    }

    &-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 50%;

        @media (orientation: landscape) {
            width: 50%;
            height: 100%;
        }
    }
    &-heading {
        font-size: 2.3rem;
        line-height: 0.8125em;
        margin-bottom: 50px;

        @include breakpoint(medium) {
            @media (min-height: 568px) {
                font-size: 5rem;
            }
        }

        p {
            position: relative;

            &::after {
                position: absolute;
                top: 100%;
                left: 0;
                content: "";
                background-color: $black;
                width: 100%;
                height: 4px;

                @include breakpoint(medium) {
                    @media (min-height: 568px) {
                        height: 8px;
                    }
                }
            }
        }
    }
    &-subheading {
        line-height: 0.95em;

        @include breakpoint(medium) {
            @media (min-height: 568px) {
                font-size: 2rem;
            }
        }
    }
}