.container {
    padding: 10px;

    @include breakpoint(large) {
        padding: 30px;
    }
}

.text {
    p {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}

section {
    height: 50vh;

    @media (orientation: landscape) {
        height: calc(100vh - #{$navbar-height});
    }
}