.page-id {
    &-48 {
        .menu-item-apartments {
            display: none;
        }
    }
    &-60 {
        .menu-item-townhomes {
            display: none;
        }
    }
}

// navbar
.navbar {
    display: none;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    @include padding-x(25px);
    width: 100%;
    height: $navbar-height;
    z-index: 100;
    transition: background-color 0.3s ease, color 0.3s ease;

    @include breakpoint(large) {
        @include padding-x(40px);
    }

    .page-template-template-content & {
        display: flex;
    }

    &.coloured {
        background-color: $black;
        color: #fff;

        h1 {
            opacity: 1;
        }
        .btn-register {
            background-color: #fff;
            color: $black;
        }
    }

    .btn-menu {
        height: 20px;

        .hamburger {
            height: 100%;
        }
    }

    h1 {
        display: none;
        opacity: 0;
        font-size: 2.5rem;
        margin-left: 40px;
        transition: opacity 0.3s ease;

        @include breakpoint(large) {
            display: block;
        }
    }

    .btn-register {
        font-size: 1.125rem;
        margin-left: auto;
        width: 145px;
        height: 45px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
}

// menu
.menu-nav {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background-color: $black;
    color: #fff;
    width: 100%;
    height: 100%;
    z-index: 200;
    transition: transform 0.3s ease;

    @include breakpoint(large) {
        width: 50%;
    }

    &.active {
        transform: none;
    }

    .btn-menu-close {
        position: absolute;
        top: 0;
        right: 0;
        margin: 30px;
        height: 30px;

        @include breakpoint(medium) {
            @media (min-height: 568px) {
                font-size: 3rem;
            }
        }
    }

    .menu-list {
        font-size: 2rem;
        text-align: center;
        width: 100%;

        @include breakpoint(medium) {
            @media (min-height: 568px) {
                font-size: 3rem;
            }
        }

        .menu-item {
            a {
                @include padding-y(10px);
            }
        }
    }
}