.thankyou {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $black;
    color: #fff;
    text-align: center;
    padding: 15px;
    width: 100%;
    min-height: 100vh;

    @include breakpoint(medium) {
        @media (min-height: 568px) {
            padding: 30px;
        }
    }

    &-heading {
        font-size: 1.625rem;

        @include breakpoint(medium) {
            @media (min-height: 568px) {
                font-size: 3rem;
            }
        }
    }
    &-text {
        font-size: 1rem;
        line-height: 1.667em;
        text-transform: none;
        margin-top: 30px;

        @include breakpoint(medium) {
            @media (min-height: 568px) {
                font-size: 1.8125rem;
            }
        }
    }

    .btn-brochure {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;

        @include breakpoint(medium) {
            @media (min-height: 568px) {
                font-size: 1.8125rem;
            }
        }

        &-image {
            margin-top: 10px;
            height: 60px;
        }
    }

    .back-to-home {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        color: $black;
        margin-top: 50px;
    }
}